body{ font-family: 'Press Start 2P', cursive; }

#navbar{
  margin: auto;
  height: 30px;
  width: 660px;
  display: flex;
  line-height: 5px;
  padding: 0 20px;
  justify-content: space-between;
  background-color: red;
  border-bottom: 5px solid black;
}

#game-window{
  position: relative;
  width: 700px;
  height: 475px;
  margin: auto;
}

#popup{
  display: none;
  position: absolute;
  left: 250px;
  top: 150px;
  width: 200px;
  padding: 10px 0;
  background-color: black;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  text-align: center;
  color: white;
}

#popup h3{
  font-size: 15px;
}

#popup p{
  font-size: 12px;
  display: none;
}

#popup p:hover{
  color: red;
  cursor: pointer;
}

#highscores{
  z-index: 100;
  position: relative;
  margin: auto;
  width: 700px;
  height: 475px;
  padding-top: 30px;
  background-color: black;
  text-align: center;
  color: white;
}

#highscores table{
  margin: auto;
  text-align: center;
  width: 350px;
}
#highscores th{
  height: 50px;
  color: red;
}

#highscores td{
  height: 25px;
  color: white;
}
