body{
  font-family: 'Press Start 2P', cursive;
  background-color: #efece7;
  overflow:hidden;
}

#container{
  margin: 20px auto 0;
  padding: 5px;
  width: 700px;
  height: 510px;
  background-color:#fafafa;
  border-radius: 5px;
  box-shadow: 0 0 5px #71706b;
}

#navbar{
  margin: auto;
  height: 30px;
  width: 660px;
  display: flex;
  font-size: 12px;
  line-height: 10px;
  color: #7e8849;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 5px solid white;
  box-shadow: 0 0 5px #74823b inset;
  background-color: #d1ec62;
}

#game-window{
  display: none;
  position: relative;
  height: 475px;
  margin: auto;
}

#popup{
  display: none;
  position: absolute;
  left: 250px;
  top: 175px;
  width: 200px;
  padding: 10px 0;
  background-color: black;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px #627c8c;
  text-align: center;
  color: white;
}

#popup h3{
  font-size: 15px;
}

#popup p{
  font-size: 12px;
  display: none;
}

#popup p:hover{
  color: red;
  cursor: pointer;
}

#tips{
  display: none;
  position: absolute;
  left: 210px;
  top: 100px;
  width: 280px;
  height: 275px;
  background-color: #3193e7;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px #627c8c;
  color: white;
  text-align: center;
}

#tips h3{
  text-align: center;
  font-size: 15px;
}

.rule{
  text-align: left;
  width: 80%;
  margin: auto;
}
#tips p{
  margin-left: 20px;
  display: inline;
  font-size: 12px;
}

#tips img{
  width: 25px;
}

#backButton{
  text-align: center;
  position: absolute;
  bottom: 0px;
  transform: translateX(-50px)
}

#backButton:hover{
  color: red;
  cursor: pointer;
}

#highscores{
  display: none;
  z-index: 100;
  position: relative;
  margin: auto;
  width: 700px;
  height: 480px;
  padding-top: 30px;
  background-color: black;
  text-align: center;
  color: white;
}

#highscores table{
  margin: auto;
  text-align: center;
  width: 350px;
}
#highscores th{
  height: 50px;
  color: red;
}

#highscores td{
  height: 25px;
  color: white;
}

#welcome {
  z-index: 100;
  position: relative;
  margin: auto;
  width: 700px;
  height: 480px;
  padding-top: 30px;
  border-radius: 5px;
  background-image: url(../img/main-bg.gif);
  text-align: center;
  color: white;
}

#username-form{
  padding-top: 200px;
}
