#navbar{
  margin: auto;
  height: 30px;
  width: 660px;
  display: flex;
  line-height: 5px;
  padding: 0 20px;
  justify-content: space-between;
  background-color: red;
  border-bottom: 5px solid black;
}

#game-window{
  position: relative;
  width: 700px;
  height: 475px;
  margin: auto;
}

#popup{
  display: none;
  position: absolute;
  left: 275px;
  top: 125px;
  width: 150px;
  padding: 10px 0;
  background-color: black;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

#popup p, h4{
  display: none;
  color: white;
  text-align: center;
}

#popup p:hover{
  text-decoration: underline;
}
